<% @event.errors.full_messages.each do |error| %>
  <h3><%= error %></h3>
<% end %>

<form method="post" action="/events/create">
  <input type="text" name="title" placeholder="Event Title" value="<%= @event.title %>" />
  <input type="date" name="date" placeholder="Date" value="<%= @event.date %>"/>
  <input type="text" name="name" placeholder="Name of Organizer" value="<%= @event.organizer_name %>"/>
  <input type="email" name="email" placeholder="Organizer email" value="<%= @event.organizer_email %>"/>
  <input type="submit" value="Create" />
</form>
